__pycache__/
*.egg-info/
*.vscode

examples/classifier_data/
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/_CHECKPOINT_METADATA
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/_METADATA
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/_sharding
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/manifest.ocdbt
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/d/53c76301a5785507f1a2ff1d1b0263a9
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/manifest.ocdbt
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/0a7d29bf5694d41f2a2e31142783b012
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/3e09b97585f43a1fc0785aace7be38d1
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/11b8b4b25ee30197332bac54ec303461
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/169fa21449a2fefe9157ff6dbbed1257
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/9235f99f4aa2b4ddc0ba71a2fc3c601b
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/ef7325de590e0273c1c00814c26d3b0a
examples/experiments/basic_task/classifier_ckpt/checkpoint_150/ocdbt.process_0/d/fa97891c61628bde26f3c858aa8dd9a7
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/_CHECKPOINT_METADATA
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/_METADATA
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/_sharding
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/manifest.ocdbt
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/d/1d99814344b7734be0085ee36c7aba6c
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/manifest.ocdbt
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/d/50eba572b7c1e3d05f897e41f798d23b
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/d/72a9d95bcfea7ddb530c896dc901141a
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/d/96ac1672fb882457999edddd986f2464
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/d/32275669a663a8aea272f19592fa7ea3
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/d/b884801cd728346edf6242854aa56c93
examples/experiments/basic_task/classifier_ckpt_old/checkpoint_150/ocdbt.process_0/d/d927ee0a160fd2617b2a02e5cd0c7c9c
examples/experiments/basic_task/classifier_data/basic_task_200_success_images_2025-12-11_10-55-34.pkl
examples/experiments/basic_task/classifier_data/basic_task_failure_images_2025-12-11_10-55-34.pkl
examples/experiments/basic_task/classifier_data_old/basic_task_200_success_images_2025-12-11_10-03-54.pkl
examples/experiments/basic_task/classifier_data_old/basic_task_failure_images_2025-12-11_10-03-54.pkl
examples/experiments/basic_task/classifier_data_old2/basic_task_200_success_images_2025-12-11_10-28-59.pkl
examples/experiments/basic_task/classifier_data_old2/basic_task_failure_images_2025-12-11_10-28-59.pkl
examples/experiments/basic_task/demo_data/basic_task_20_demos_2025-12-11_11-04-50.pkl
examples/experiments/basic_task/first_run/buffer/transitions_1000.pkl
examples/experiments/basic_task/first_run/buffer/transitions_2000.pkl
examples/experiments/basic_task/first_run/buffer/transitions_3000.pkl
examples/experiments/basic_task/first_run/buffer/transitions_4000.pkl
examples/experiments/basic_task/first_run/buffer/transitions_5000.pkl
examples/experiments/basic_task/first_run/checkpoint_10000/_CHECKPOINT_METADATA
examples/experiments/basic_task/first_run/checkpoint_10000/_METADATA
examples/experiments/basic_task/first_run/checkpoint_10000/_sharding
examples/experiments/basic_task/first_run/checkpoint_10000/manifest.ocdbt
examples/experiments/basic_task/first_run/checkpoint_10000/d/7604131abdd7636949a58ea5d99af430
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/manifest.ocdbt
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/2cd9ec1a92497ca2b7a1a6237d5930f2
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/5c0b5fbc8b30209b241e8933440ce010
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/5e75d0de77801c019d904ca14cb04814
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/84e4af040189eea631648bdba754f068
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/85cfcd98ec0b282e6951aff7dc6d1c92
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/d8ebd21c60cc69f692dd43e090291d91
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/dbf1a59a0e674a466b86277becef8e64
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/f3948a1dc3f1c049c196910e1da0e314
examples/experiments/basic_task/first_run/checkpoint_10000/ocdbt.process_0/d/f8180e0666546dd4bfc92aea96ba69a4
examples/experiments/basic_task/first_run/checkpoint_15000/_CHECKPOINT_METADATA
examples/experiments/basic_task/first_run/checkpoint_15000/_METADATA
examples/experiments/basic_task/first_run/checkpoint_15000/_sharding
examples/experiments/basic_task/first_run/checkpoint_15000/manifest.ocdbt
examples/experiments/basic_task/first_run/checkpoint_15000/d/0391feb10819c1505b9d7d74e3b95e42
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/manifest.ocdbt
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/7bce773921c36cc4ad348ecc41f1b459
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/32b0df867077c849b0505c944d01344d
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/741abf3535e3288ccbda377638360891
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/042931cead4a4a5f6a8447dba5f76d55
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/a8251391eedbb48447561ce90053a7f3
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/ac0159827c82f8b2c02d46238867d44c
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/bf100b8f7fbaf862fa098f3b7976063d
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/d289db798b499744366b4b862fd1678a
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/ea82b51b53c3f69130f74101f4a6acc5
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/f0f4e1d5e58f637c1653eeb9c383189c
examples/experiments/basic_task/first_run/checkpoint_15000/ocdbt.process_0/d/fcec924da60afe6a1e9046eafc1b457a
examples/experiments/basic_task/first_run/checkpoint_5000/_CHECKPOINT_METADATA
examples/experiments/basic_task/first_run/checkpoint_5000/_METADATA
examples/experiments/basic_task/first_run/checkpoint_5000/_sharding
examples/experiments/basic_task/first_run/checkpoint_5000/manifest.ocdbt
examples/experiments/basic_task/first_run/checkpoint_5000/d/c5375377d52283229f5d24b2c6733516
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/manifest.ocdbt
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/6a681de7d165e09062c22a305091d7c0
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/015ecd1cdd01a3323078b0ce2e64a9f1
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/4634f430e86ab5d3108c1d9c993c9c24
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/5324adaf0567b45fbbfc28118d69bf7f
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/06788ee9d8dba10781b8630507dc54bc
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/215230ea95614c87cb16d4294eb506d7
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/682781136770eed6101ac15e7f3f073e
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/b7ff56e5981162d840367572c93284a6
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/c98048155d05a23c2f06793e12870e8e
examples/experiments/basic_task/first_run/checkpoint_5000/ocdbt.process_0/d/e192c4ea90cabe4c0441a0e1827a2b78
examples/experiments/basic_task/first_run/demo_buffer/transitions_1000.pkl
examples/experiments/basic_task/first_run/demo_buffer/transitions_2000.pkl
examples/experiments/basic_task/first_run/demo_buffer/transitions_3000.pkl
examples/experiments/basic_task/first_run/demo_buffer/transitions_4000.pkl
examples/experiments/basic_task/first_run/demo_buffer/transitions_5000.pkl
